/* Give your page a fun background color */
body {
  background-color: yellow;
}
/* Make the header and footer a different color from the background */
header {background-color: green;}
footer{background-color: blue;}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {background-color: red;}
p {font-style: italic;}
/* Put a border around your image */
img {border-style: double;}
/* Change the font-family of your list */
ul {
  font-family: "Lucida Console", "Courier New", monospace;
}
